<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <div class="container">
      <div class="my-heading mt-3 mx-auto">
        <div class="text-center">
          <a class="head-link" href="/">
            <h1 class="my-auto text-center">Controversale</h1>
          </a>
        </div>
        <div class="img ml-auto">
          <img
            class="mx-auto"
            src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/149280606_3583774825073503_2146781730998804536_n.png?_nc_cat=106&ccb=3&_nc_sid=ae9488&_nc_ohc=lodhYxrj16AAX9Z2mVx&_nc_ht=scontent-cdt1-1.xx&oh=eeefeeb5dbb94c8bc712995cf8094009&oe=60497CE8"
            alt=""
          />
        </div>
      </div>
      <br />
      <hr />
      <!--end header-->

      <!-- navbar -->
      <nav class="nav">
        <a class="nav-link" href="/controverse">controverse</a>
        <a class="nav-link active" href="/acteurs">acteurs</a>
        <a class="nav-link" href="/cartographie">cartographie</a>
      </nav>
      <!--end navbar-->
      <br />
      <br />

      <div class="row">
        <div class="col-md-6 mr-3">
          <hr />
          <h3 class="ml-5">Les acteurs</h3>
          <hr />
        </div>

        <div class="col-md-6">
          <br />
          <br />

          <p>
            Alors que les régimes démocratiques de par le monde continuent à
            abolir la peine de mort ou à cesser d’y recourir, Donald Trump et
            William Barr font en sorte que les États-Unis figurent maintenant
            aux côtés de régimes autoritaires comme la Chine, l’Iran ou l’Arabie
            saoudite. Si toutes les exécutions sont maintenues, on aura procédé
            à 10 exécutions en une seule année, trois fois plus que dans les
            dernières décennies réunies. L’administration Trump ne se contente
            pas de renouer avec la peine de mort: récemment, elle a également
            agi en introduisant une règle suivant laquelle les exécutions
            peuvent être réalisées par injection létale .
          </p>
          <br />
          <hr />
          <br />
          <p>
            Barack Obama pense que la peine de mort est justifiée "dans des
            circonstances très étroites pour les crimes les plus haineux" et que
            le viol d'un enfant de 6 ou 8 ans fait partie de ces crimes. "Si un
            Etat décide que, dans des circonstances étroites, limitées et bien
            définies, la peine de mort est potentiellement applicable, cela
            n'est pas contraire à la Constitution", a-t-il estimé. L'évidence me
            confirme que la peine de mort n'a aucun effet dissuasif sur les
            criminels.
          </p>
          <br />
          <hr />
          <br />
          <p>
            Le gouverneur du Texas Gregg Abbott l'a entendu, en commuant une
            peine de mort pour la première fois de sa carrière. « Bart Whitaker
            doit passer le reste de sa vie derrière des barreaux, en punition
            pour son crime haineux ». Bien que la population du Texas ne
            représente que 8 p. cent de celle des États-Unis, 35 p. cent des
            exécutions recensées dans le pays ont lieu dans cet État. Depuis la
            reprise des exécutions judiciaires aux États-Unis, en 1977, les
            autorités de ce pays ont ôté la vie à 899 hommes et femmes ; 320 de
            ces exécutions ont eu lieu au Texas.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Amnesty international Etats-Unis serait contre la peine de mort .Ces
            exécutions vont à l’encontre du recul de la peine de mort dans le
            monde et aux États-Unis en particulier. Un système de condamnation à
            mort arbitraire et raciste aux États-Unis Le système d’application
            de la peine de mort aux États-Unis est arbitraire, raciste, et
            comporte de graves lacunes. 42 % des condamnés à mort sont noirs
            alors que les Noirs ne constituent que 12% de la population. Le
            système judiciaire qui les a condamnés reste largement dominé par
            les Blancs.
          </p>
          <br />
          <hr />
          <br />
          <p>
            La Coalition mondiale contre la peine de mort est un collectif
            international d'ONG, de barreaux d'avocats et d'avocates, de
            collectivités locales et de syndicats dont le but est de renforcer
            la dimension internationale du combat contre la peine de mort. La
            Coalition mondiale accompagne ses membres dans l’organisation
            d’activités de plaidoyer visant à préserver l’abolition en droit
            dans les pays qui envisagent le rétablissement de la peine de mort
            ou à prévenir la reprise des exécutions. Le partenariat de la
            coalition a ainsi permis le développement d’une base de données
            visant à recenser la situation de la peine de mort à travers le le
            monde.
          </p>
          <br />
          <hr />
          <br />
          <p>
            <b>Human Rights Watch (HRW)</b> est une ONGI qui se donne pour
            mission de défendre les droits de l'homme et le respect de la
            Déclaration universelle des droits de l'homme Cette organisation
            déclare militer notamment pour la liberté de la presse, l'abolition
            de la peine de mort et de la torture mais aussi pour le respect de
            l'ensemble des droits civils, politiques, économiques, sociaux et
            culturels, en particulier dans les domaines de l'éducation et du
            logement. Elle intervient également dans les conflits, dénonçant
            entre autres les crimes de guerre ou le trafic d'armes. Human Rights
            Watch demande l'arrêt des crimes commis par les gouvernements ou les
            groupes rebelles, dans le cadre de guerres internes.
          </p>
        </div>
      </div>

      <!--table-->
      <table class="table">
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">Acteur</th>
          <th scope="col">Faible</th>
          <th scope="col">Forte</th>
          <th scope="col">0</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4+</th>
          <th scope="col">5++</th>
          <th scope="col">0</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4+</th>
          <th scope="col">5++</th>
        </tr>

        <tr class="text-center">
          <td scope="row">1</td>
          <td class="text-left">Donald Trump</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="text-center">
          <td scope="row">2</td>
          <td class="text-left">Barack Obama</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="text-center">
          <td scope="row">3</td>
          <td class="text-left">Greg Abbott</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr class="text-center">
          <td scope="row">4</td>
          <td class="text-left">Amnesty International Etats-Unis</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>

        <tr class="text-center">
          <td scope="row">5</td>
          <td class="text-left">
            Coalition internationale contre la peine de mort
          </td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>

        <tr class="text-center">
          <td scope="row">6</td>
          <td class="text-left">Human Right Watch</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
      </table>

      <!--end table-->
      <div class="footer"></div>
    </div>
  </body>
</html>
