<!DOCTYPE html>
<html lang="en">
<%- include('layout/head.ejs') %>
<body>
<div class="container">
    <div class="my-heading mt-3 mx-auto">
        <div class="text-center">
            <a class="head-link" href="/">
                <h1 class="my-auto text-center">Controversale</h1>
            </a>
        </div>
        <div class="img ml-auto">
            <img
                    class="mx-auto"
                    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/149280606_3583774825073503_2146781730998804536_n.png?_nc_cat=106&ccb=3&_nc_sid=ae9488&_nc_ohc=lodhYxrj16AAX9Z2mVx&_nc_ht=scontent-cdt1-1.xx&oh=eeefeeb5dbb94c8bc712995cf8094009&oe=60497CE8"
                    alt=""
            />
        </div>
    </div>
    <br/>
    <hr/>
    <!--end header-->

    <!-- navbar -->
    <nav class="nav">
        <a class="nav-link" href="/controverse">controverse</a>
        <a class="nav-link" href="/acteurs">acteurs</a>
        <a class="nav-link" href="/cartographie">cartographie</a>
    </nav>
    <!--end navbar-->
    <br/>

    <div class="row my-content">
        <div class="col-md-6 mx-5">
            <hr/>
            <h3>La cartographie des controverses ?</h3>
            <hr/>
        </div>
        <div class="col-md-6">

            <hr/>
            <h5>Conclusion</h5>
            <hr/>
            <br/>
            <p>
                Dans chaque État américain, il est particulièrement difficile de modifier la situation concernant la
                peine de mort (que ce soit pour l'abolir comme pour la rétablir) car il faut pour cela un triple
                consensus entre le gouverneur, le Sénat de l'État concerné et sa Chambre basse (chaque chambre elle-même
                ne délibérant pas avant l'accord de son comité judiciaire). Le désaccord d'une seule de ses trois
                entités peut contribuer au maintien de la situation en vigueur. Ainsi, au New Hampshire et à New York ,
                le gouverneur a pu opposer son véto à (respectivement) une abolition et un rétablissement voté par les
                deux chambres. Toutefois les abolitionnistes disposent d’un moyen plus simple pour s’opposer à son
                application : si la peine de mort est déclarée anticonstitutionnelle par la Justice, alors le simple
                fait qu'une seule des trois entités refuse de se conformer aux exigences de la Justice peut contribuer à
                une abolition de facto de la peine de mort sans que celle-ci, toutefois ne disparaisse de la législation
                de l’État. En 1972, la Cour suprême des États-Unis a jugé la  peine


            </p>


        </div>
        <div class="col-md-6">
            <p>
                 de mort anticonstitutionnelle sur l'ensemble du
                territoire américain et commua les condamnations à mort en prison à vie. Tous les États qui appliquent
                la peine de mort aujourd'hui ont donc délibérément rétabli la peine de mort en conformant leurs
                législations aux exigences de la Cour.
                Sur un total de cinquante États, seize ont aboli la peine de mort par voie législative. Il faut ajouter
                New York et le Massachusetts où la peine de mort, sans avoir été légalement abolie, est de fait
                inapplicable. Sur les 28 États restants, tous ont au moins un condamné à mort incarcéré, 27 États ont
                procédé à au moins une exécution (à exception du Kansas).
                L'Etat du New-Hampshire, abolitionniste depuis 2019 garde un condamné dans le couloir de la mort.
                L'abolition n'étant pas rétroactive il reste potentiellement exécutable. Avant d'abolir la peine de
                mort, l'Illinois avait pratiqué plusieurs exécutions.
            </p>
        </div>
    </div>

</div>
</body>
</html>
