<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <div class="container">
      <div class="my-heading mt-3 mx-auto">
        <div class="text-center">
          <a class="head-link" href="/">
            <h1 class="my-auto text-center">Controversale</h1>
          </a>
        </div>
        <div class="img ml-auto">
          <img
            class="mx-auto"
            src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/149280606_3583774825073503_2146781730998804536_n.png?_nc_cat=106&ccb=3&_nc_sid=ae9488&_nc_ohc=lodhYxrj16AAX9Z2mVx&_nc_ht=scontent-cdt1-1.xx&oh=eeefeeb5dbb94c8bc712995cf8094009&oe=60497CE8"
            alt=""
          />
        </div>
      </div>
      <br />
      <hr />
      <!--end header-->

      <div class="my-content mt-3 row">
        <div class="col-md-6">
          <!-- navbar -->
          <nav class="nav">
            <a class="nav-link active" href="/controverse">controverse</a>
            <a class="nav-link" href="/acteurs">acteurs</a>
            <a class="nav-link" href="/cartographie">cartographie</a>
          </nav>
          <!--end navbar-->
          <div class="sub-nav">
            <hr />
            <a href="/controverse " class="active"
              >Définition de la controverse
            </a>
            <hr />
            <a href="/risque">Les risques des controverses? </a>
            <br />
            <br />
          </div>
          <hr />
          <h3>Definitions de la controverse</h3>
          <hr />

          <p class="mt-3">
            La peine de mort existe depuis toujours, vengeance, dissuasion,
            justice égalitaire, protection de la société. Les différents Etats
            ou il y a l’application de la peine de mort sont des Etats ou il y a
            le non-droit ou des Etats qui ont le non-respect des droits de
            l’Homme. Les Etats-Unis ont atteints le plus grand nombre de mort
            par la peine de mort que d’autres Etats. La pression se fait de plus
            en plus forte et en Amérique même, les lignes d’abolition sont très
            présentes sur le terrain des exécutions. Les 12 Etats
            abolitionnistes sont : Alaska, Hawaï, Lowa, Massachusetts, Maine,
            Michigan, Minnesota, Nord Dakota, Rhodes Island, Vermont, Virginie
            Occidentale, Wisconsin. On peut remarquer qu’il n’y a que des Etats
            du Nord. Est-ce que l’abolition de la peine de mort aux Etats-Unis
            est-elle une solution ? Dans les lignes qui suivent nous parlerons
            premièrement de la définition de la controverse puis les acteurs de
            la controverse puis des risques de la controverse puis le glossaire
            puis la conclusion ainsi que les sources.
          </p>
        </div>
        <div class="col-md-6">
          <br />
          <br />
          <br />
          <img
            src="https://i.ytimg.com/vi/p14QfX4zapQ/maxresdefault.jpg"
            alt="La peine de mort"
            class="mt-3 container-fluid"
          />
          <br />
          <small class="text-muted text-right mr-4 mt-2" style="display: block"
            >(https://i.ytimg.com/vi/p14QfX4zapQ/maxresdefault.jpg)</small
          >
          <div class="mt-4 btn btn-info btn-block">
            <a href="/acteurs" class="text-dark"> Acteurs des controverses</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
