<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <div class="container">
      <div class="my-heading mt-3 mx-auto">
        <div class="text-center">
          <a class="head-link" href="/">
            <h1 class="my-auto text-center">Controversale</h1>
          </a>
        </div>
        <div class="img ml-auto">
          <img
            class="mx-auto"
            src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/149280606_3583774825073503_2146781730998804536_n.png?_nc_cat=106&ccb=3&_nc_sid=ae9488&_nc_ohc=lodhYxrj16AAX9Z2mVx&_nc_ht=scontent-cdt1-1.xx&oh=eeefeeb5dbb94c8bc712995cf8094009&oe=60497CE8"
            alt=""
          />
        </div>
      </div>
      <br />
      <hr />
      <!--end header-->

      <!-- navbar -->
      <nav class="nav">
        <a class="nav-link" href="/controverse">controverse</a>
        <a class="nav-link" href="/acteurs">acteurs</a>
        <a class="nav-link" href="/cartographie">cartographie</a>
      </nav>
      <!--end navbar-->
      <br />
      <br />

      <div class="row">
        <div class="col-md-6">
          <hr />
          <h3>Qu'est ce que la cartographie des controverses ?</h3>
          <hr />

          <p>
            Une controverse est une discussion argumentée, engendrée par
            l’expression d’une différence d’opinion ou d’une critique quant à un
            problème, un phénomène ou un état de choses. Par métonymie, une
            controverse désigne l’ensemble des éléments divergents ou
            contradictoires d’un débat.
          </p>
        </div>
        <div class="col-md-6">
          <hr />
          <h3>La peine de mort</h3>
          <hr />
          <p>
            La peine de mort ou peine capitale est une peine prévue par la loi
            consistant à exécuter une personne ayant été reconnue coupable d’une
            faute qualifiée de « crime capital ». La sentence est prononcée par
            l’institution judicaire à l’issue d’un procès.
          </p>
          <br />
          <div class="btn btn-info btn-block">
            <a class="text-dark" href="/controverse"> Controverse </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
