<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <div class="container">
      <div class="my-heading mt-3 mx-auto">
        <div class="text-center">
          <a class="head-link" href="/">
            <h1 class="my-auto text-center">Controversale</h1>
          </a>
        </div>
        <div class="img ml-auto">
          <img
            class="mx-auto"
            src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/149280606_3583774825073503_2146781730998804536_n.png?_nc_cat=106&ccb=3&_nc_sid=ae9488&_nc_ohc=lodhYxrj16AAX9Z2mVx&_nc_ht=scontent-cdt1-1.xx&oh=eeefeeb5dbb94c8bc712995cf8094009&oe=60497CE8"
            alt=""
          />
        </div>
      </div>
      <br />
      <hr />
      <!--end header-->

      <div class="row my-content mb-5">
        <div class="col-md-6">
          <!-- navbar -->
          <nav class="nav">
            <a class="nav-link active" href="/controverse">controverse</a>
            <a class="nav-link" href="/acteurs">acteurs</a>
            <a class="nav-link" href="/cartographie">cartographie</a>
          </nav>
          <!--end navbar-->
          <div class="sub-nav">
            <hr />
            <a href="/controverse">Définition de la controverse </a>
            <hr />
            <a href="/risque" class="active">Les risques des controverses? </a>
            <br />
            <br />
          </div>
          <hr />
          <h3>Qu'est ce que la cartographie des controverses ?</h3>
          <br />
          <hr />
          <h5>Une Introduction</h5>
          <hr />
          <br />
          <p>
            EN effet, étant un sujet à opinions diverses, l’abolition de la
            peine de mort est une potentiel source de désaccord et de problèmes.
            De ce fait, elle engendre de nombreux risques qui s’avèrent
            important sur tout les plan à savoir, le social, l’économie et aussi
            sur le plan juridique .
          </p>
          <br />
          <hr />
          <h5>
            Les risques de l’abolition de la peine de mort sur le plan juridique
          </h5>
          <hr />
          <br />
          <p>
            Les arguments qui soutiennent la peine de mort ne manques pas
            ,cependant derrière la noblesse de ces arguments , il existe de
            véritables risques juridiques en rapport avec le sujet Ainsi le
            premier risque qu’aurais cette abolition est l’atténuation du
            pouvoir judiciaire car au-delà des abus souvent redu dans les
            jugements, il existe des crimes qui qui ,selon les théoriciens de la
            peine de mort méritent cette condamnation ,il s’agit par exemple des
            crimes fédéraux .Alors l’abolition de la peine de mort impliquerais
            la fin de la peine de mort comme condamnation des crimes fédéraux ce
            qui représente un gros risque car les théoriciens de la peine
            capitale ne le conçoivent pas .
            <br />
            Aussi, cette abolition de la peine de mort serait source également
            de manque de moyen de coercition et de dissuasion des grands
            criminels. Alors, il serait facile pour tous les criminels
            d’effectuer des meurtres et même des génocides sans être soucieux
            d’un même sort. Pour les théoriciens de la peine de mort, il est
            inconcevable de retirer à la justice ses pleins pouvoirs et d’au
            contraire favoriser la criminalité.
          </p>
          <br />
          <hr />
          <h5>
            Les risques de l’abolition de la peine de mort sur le plan social
          </h5>
          <hr />
          <br />
          <p>
            Sur le plan social, l’abolition de la peine capitale présente de
            gros risques sociaux. En effet le taux de criminalité aux usa dans
            les états ou la peine de mort est appliquée a subit une baisse par
            rapport aux états qui n’appliquent pas la peine de mort ou le taux
            est constant ou augmente. Aussi, l’abolition de la peine de mort
            encourage la criminalité et n’a plus de mythes sur la société.
          </p>

          <br />

          <!--Table-->
          <table class="table">
            <tr>
              <td class="item-empty px-3 py-2"></td>
              <td class="item">
                <h6>ZONE DE RISQUE MAJEURS</h6>
                Atténuation du pouvoir judiciaire
                <b> Augmentation du nombre de meurtres </b>
              </td>
            </tr>
            <tr>
              <td class="item px-3 py-2">
                <h6>ZONE DE RISQUE MAJEURS</h6>
                Atténuation du pouvoir judiciaire
                <b> Augmentation du nombre de meurtres </b>
              </td>
              <td class="item-empty"><p class="item"></p></td>
            </tr>
          </table>
          <!--End table-->
        </div>
        <div class="col-md-6 mt-5">
          <br />
          <br />

          <br />
          <hr />
          <h5>Les risques de l’application de la peine de mort</h5>
          <hr />
          <br />
          <p>
            La peine de mort est une pratique courante aux usa. Elle est
            encadrée par un certain nombre de lois mais continue d’être
            pratiquer dans certains Etats à savoir : Le Texas, la Virginie
            l’Oklahoma la Floride le Missouri la Géorgie l’Alabama l’Ohio la
            Caroline du Nord la Caroline du Sud l’Arizona l’Arkansas la
            Louisiane le Mississippi et l’Indiana. Cette application de la peine
            de mort, qui présente des nombres d’exécutés exponentiels est
            sources de plusieurs risques et sur plusieurs plans aux usa.
          </p>
          <br />
          <hr />
          <h5>Les risques juridiques de l’application de la peine de mort</h5>
          <hr />
          <p>
            Au niveau juridique, l’application de la peine capitale est source
            et cela depuis des années De plusieurs injustices. En effet, la
            peine de mort s’est vue appliquée à des personnes qui, par le futur
            se sont avérées innocentes. Ainsi la peine capitale contribue à
            fausser les jugements de la justice. Elle est une peine qui rend
            irréversible un jugement des lors ou le condamné y passe. C’est
            l’exemple de TROY DAVIS, un américain condamné et exécuté a tort
            dans les années 1970 aux usa. De ce fait , le peine de mort
            décrédibilise la légitimité et l’impartialité du pouvoir judiciaire.
          </p>
          <br />
          <hr />
          <h5>Les risques économiques de l’application de la peine capitale</h5>
          <hr />
          <br />
          <p>
            D’un point de vue économique, la peine capitale est une charge
            énorme pour l’économie américaine qui ne dit pas son nom. Alors,
            pour être condamné a mort aux usa par l’instance de dernier ressort,
            l’accusé passe par une procédure énorme et qui dure longtemps ceux
            qui engendre des frais et des couts énormes pour le la justice
            Américaine. Aussi, les USA possèdent des prisons spéciales pour les
            condamnés à mort ou ils sont incarcérés en attente de leurs
            exécutions. Ces prisons sont également le résultat d’énormes
            dépenses pour l’entretien et le personnel.
          </p>
          <br />
          <hr />
          <h5>Les risques sociaux de l’application de la peine de mort</h5>
          <hr />
          <br />
          <p>
            Le risque social majeur de cette application de la peine capitale
            c’est la destruction de la valeur humaine et le non-respect des
            droits fondamentaux de l’homme .C’est dans ce sens que de nombreuses
            organisations et associations militent pour une cessation définitive
            et de cette peine QUI selon eux n’a pas lieu d’être .Ainsi continuer
            d’appliquer cette peine dans certains états des usa c’est prendre le
            risque d’être confrontés a des manifestations d’associations de la
            société civile et d’être désolidariser sur le point de vue politique
            économique et humain par les autres pays qui l’on abolis.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
